openapi: 3.2.0
info:
  title: Buzzsprout Podcasts API
  description: The Buzzsprout API is a documented public REST API for the Buzzsprout podcast hosting platform, intended for third parties integrating with the service.
  version: '1.0'
  contact:
    name: Buzzsprout
    url: https://www.buzzsprout.com
servers:
- url: https://www.buzzsprout.com/api
  description: Buzzsprout API (SSL only)
security:
- tokenAuth: []
tags:
- name: Podcasts
  description: The podcasts on a Buzzsprout account.
paths:
  /podcasts.json:
    get:
      operationId: listPodcasts
      tags:
      - Podcasts
      summary: List podcasts
      description: Lists the podcasts on the authenticated Buzzsprout account. Use the returned podcast id to scope Episodes API requests.
      responses:
        '200':
          description: A list of podcasts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Podcast'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid token.
  schemas:
    Podcast:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        author:
          type: string
        description:
          type: string
        website_address:
          type:
          - string
          - 'null'
        contact_email:
          type: string
        keywords:
          type:
          - string
          - 'null'
        explicit:
          type: boolean
        main_category:
          type:
          - string
          - 'null'
        sub_category:
          type:
          - string
          - 'null'
        main_category2:
          type:
          - string
          - 'null'
        sub_category2:
          type:
          - string
          - 'null'
        main_category3:
          type:
          - string
          - 'null'
        sub_category3:
          type:
          - string
          - 'null'
        language:
          type: string
        timezone:
          type: string
        artwork_url:
          type: string
        background_url:
          type:
          - string
          - 'null'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication. Send the header as `Authorization: Token token=YOUR_TOKEN`. Alternatively pass the token as an `api_token` query parameter. Tokens are found in the Buzzsprout admin account settings.'
